.content(data-script="Main")
	.container
		.row
			.col-12
				ul.ul-list(data-script="Load")
					li.li-item
						.col-3
							.img-person
								img
						.col-9
							.infos-person
								h2
								p

script.
	var data_json = "json/fazenda.json";
script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
	