header.header
	.container
		.row
			.col-12
				.header-content.d-flex.align-items-end
					.header-box-logo
						img(src="img/a-fazenda-logo.png", alt="A Fazenda - Logo")
					.header-box-title.ml-auto
						h1 Ranking